body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/neonWalls.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    background-color: rgba(28, 204, 145, 0.301);
    padding: 50px;
    border-radius: 10px;
    width: 85%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

header {
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

.dlc {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    animation: fadeInUp 1s ease-in-out;
    position: relative; /* Added position relative for positioning absolute elements */
}

.dlc-container {
    border-radius: 50px 5px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.dlc-container:hover {
    filter: brightness(1.2);
    transform: scale(1.05);
}

.dlc img {
    max-width: 100%;
    animation: scaleIn 1s ease-in-out;
    transition: filter 0.3s ease-in-out, transform 0.5s ease-in-out;
}

.dlc-info {
    flex: 1;
    margin-left: 20px;
    position: absolute; /* Position the background panel relative to this container */
    top: 40px;
    left: 20px;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    border-radius: 10px;
    color: white; /* Font color changed to white */
}


price {
    font-weight: bold;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

footer {
    text-align: center;
    padding: 10px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
    }
    to {
        transform: scale(1);
    }
}
<<<<<<< HEAD

.return-button {
    position: absolute; /* Position fixed to keep it fixed on the screen */
    top: 0px;
    left: 0px;
    z-index: 999; /* Ensure it appears above other content */
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.return-button img{
	width: 5vw; /* 5% of the viewport width */
    height: auto; /* Maintain aspect ratio */
}
.return-button:hover {
	background-color: #45a049;
}
=======
>>>>>>> a1096b82a2b75424ec4130d1974e1053417303c7
